.primary {
  font-size: var(--h1);
  font-weight: 800;
}

.secondary {
  font-size: var(--h2);
  font-weight: 600;
}

.terciary {
  font-size: var(--h3);
}

.subheader {
  font-size: var(--h5);
  font-weight: 600;
}
